build/*
build_push/*
build_accuracy/*
build_spectrum/*
pusher_tester
accuracy_tester
spectrum_tester
.*.swp
*.lst
*.d
\#*\#
*~
.depend
*.aux
*.dvi
*.log
*.out
*.synctex.gz
*.user
.vscode*
.DS_Store
*.stats*
*.sh
discarded_solutions/*
discarded_solutions/*/*
discarded_solutions/*/*/*
admin/*
admin/*/*