build/*
build_push/*
build_accuracy/*
build_spectrum/*
pusher_tester
accuracy_tester
spectrum_tester
.*.swp
*.lst
*.d
\#*\#
*~
.depend
*.aux
*.dvi
*.log
*.out
*.synctex.gz
*.user
.vscode*
.DS_Store
*.stats*
*.sh
*.mod
example_cpp/build
example_cpp/build/*
cpp_tester
example_fortran/build
example_fortran/build/*
fortran_tester
