build/*
build_push/*
build_accuracy/*
build_spectrum/*
build_adv_accuracy/*
pusher_tester*
accuracy_tester*
spectrum_tester*
advanced_accuracy_tester*
.*.swp
*.lst
*.d
\#*\#
*~
.depend
*.aux
*.dvi
*.log
*.out
*.synctex.gz
*.user
.vscode*
.DS_Store
*.stats*
*.sh
*.mod
example_cpp/build
example_cpp/build/*
example_cpp/coefficients
example_cpp/coefficients/*
example_cpp/src_SFQEDtoolkit
example_cpp/src_SFQEDtoolkit/*
cpp_tester
example_fortran/build
example_fortran/build/*
example_fortran/coefficients
example_fortran/coefficients/*
example_fortran/src_SFQEDtoolkit
example_fortran/src_SFQEDtoolkit/*
example_fortran/src_fortran_wrapper
example_fortran/src_fortran_wrapper/*
fortran_tester
makefile
Work_In_Progress
Test_Modules
coefficients/angular_tools
coefficients/g-2_over_2
coefficients/pair_prtl_rate_adv
coefficients/pair_prtl_rate_low
coefficients/pair_prtl_rate_polarization
coefficients/pair_rate_polarization
coefficients/phtn_prtl_rate_low
coefficients/phtn_prtl_rate_spin
coefficients/phtn_rate_spin
